@model TraversalCoreProje.CQRS.Commands.GuideCommands.CreateGuideCommand
@{
    ViewData["Title"] = "AddGuide";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>CQRS MediatR ile Rehber Ekleme Sayfası</h1>

<form method="post">
    <label>Rehber Adı</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />


    <label>Rehber Açıklaması</label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />
    <button class="btn btn-outline-dark">Bilgileri Güncelle</button>

</form>