@model TraversalApp.MVC.CQRS.Results.GuideResults.GetGuideByIDQueryResult
@{
    ViewData["Title"] = "GetGuideById";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>CQRS MediatR ile Rehber Düzenleme Sayfası</h1>
<form methd="post">
    
    <input type="hidden" asp-for="Id"/>
    <br />
    <label>Rehber Adı</label>
    <input type="text" asp-for="Name" class="form-control"/>
    <br />

        <label>Rehber Açıklaması</label>
    <input type="text" asp-for="Description" class="form-control"/>
    <br />
    <button class="btn btn-outline-dark">Bilgileri Güncelle</button>

</form>
