@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

    <script type="text/javascript">
        $(document).ready(() => {
            var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:44334/VisitorHub").build();
            var connectionStatusElement = $("#connectionStatus");

            connection.start().then(() => {
                connectionStatusElement.text("Bağlandı");
            }).catch((err) => {
                console.log(err);
                connectionStatusElement.text("Bağlantı Hatası");
            });
        })
    </script>
}

<div class="container">
    <br />
    <div class="alert alert-warning">
        Bağlantınızın Durumu: <b id="connectionStatus">Bağlantı Bekleniyor</b>
    </div>
</div>
