@model TraversalApp.Core.DTOs.ResetPasswordDTO.PasswordResetDto
@{
    Layout = null;
}

<!DOCTYPE html>

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />

    <h2>Şifre Yenileme Sayfası</h2>
    <form method="post" onsubmit="return validateForm()">

        <div class="form-input">
            <label>Yeni Şifrenizi Giriniz</label>
            <input type="password" class="form-control" id="password" asp-for="Password" />
            <span asp-validation-for="Password"></span>
            <br />
        </div>

        <div class="form-input">
            <label>Şifrenizi Yeniden Giriniz</label>
            <input type="password" class="form-control" id="confirmPassword" asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <br />
        <button class="btn btn-outline-danger">Şifreyi Güncelle</button>
    </form>

</div>

<script>
    function validateForm() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmPassword").value;

        if (password === confirmPassword) {
            return true;
        } else {
            alert("Şifreler eşleşmiyor.");
            return false;
        }
    }
</script>



