@model TraversalApp.Core.DTOs.MailRequestDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Mail Bülten İşlemleri</h1>

<form method="post">

    <div class="form-group">
        @Html.Label("Alıcı Mail Adresi")
        <input type="text" asp-for="ReceiverMail" class="form-control" />
    </div>
    <br />

    <div class="form-group">
        @Html.Label("Konu Başlığı")
        <input type="text" asp-for="Subject" class="form-control" />
    </div>
    <br />
    

    <div class="form-group">
        @Html.Label("Mesaj İçeriği")
        <input type="text" asp-for="Body" class="form-control" />
    </div>
    <br />



    <button type="submit" class="btn btn-dark">Oluştur!</button>

</form>