
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excel Rapor İşlemleri</h1>

<br />

<a href="/Excel/StaticExcelReport/" class="btn btn-outline-info">Statik Rapor</a>
<br />
<br />
<br />
<a href="/Excel/DestinationExcelReport/" class="btn btn-outline-info">Tur Rotaları Raporu</a>