@{
    Layout = null;
}

<!doctype html>
<html lang="zxx">

@await Html.PartialAsync("~/Views/LayoutPartial/_HeaderPartial.cshtml")
@await Html.PartialAsync("~/Views/LayoutPartial/_NavbarPartial.cshtml")

<body>

    @RenderBody()

    @await Html.PartialAsync("~/Views/LayoutPartial/_FooterPartial.cshtml")
    @await Html.PartialAsync("~/Views/LayoutPartial/_ScriptsPartial.cshtml")

</body>
</html>
